@charset "utf-8";

.reveal .left-justified {
  text-align: left;
}

.reveal .slides section .fragment.highlight-yellow,
.reveal .slides section .fragment.highlight-current-yellow {
  opacity: 1;
  visibility: inherit;
}

.reveal .slides section .fragment.highlight-yellow.visible {
  color: #ffc61a;
}

.reveal .slides section .fragment.highlight-current-yellow.current-fragment {
  color: #ffc61a;
}

.reveal .controls.helpbutton {
  left: 90px !important;
}

.reveal .slide-menu-button {
  left: 30px !important;
  bottom: 50px !important;
}

.reveal pre code {
  font-size: 75%;
  line-height: 95%;
  max-height: 500px;
}
